
.icon-heart:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-money:before { content: '\e803'; } /* '' */
.icon-right-open-mini:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-address:before { content: '\e806'; } /* '' */
.icon-hospital:before { content: '\e821'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */