html, body {
  font-family: GerberaBold;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.navbar{
  background-color: rgba(10, 60, 77, .99);
  border: none;
}
.navbar-width {
  width: 900px;
  margin: auto;
  font-family: 'GerberaLight', serif;
  font-size: 1.2em;
  color: white;
}

.navbar-brand {
  padding: 6px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #ecf0f1;
}

header {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  border-bottom: 1px solid rgba(128, 148, 78, .87);
}

header::after {
  content: ' ';
  position: absolute;
  bottom: -5%;
  height: 5%;
  left: -5%;
  right: -5%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.playground {
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes float {
  0% {
    left: -0%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: .8;
  }
}

.clouds {
  position: absolute;
  top: 5%;
  left: 10%;
  height: 5%;
  animation-name: float;
  animation-iteration-count: infinite;
}

.clouds.c1 {
  top: 12%;
  left: 10%;
  height: 3%;
  animation-duration: 40s;
}

.clouds.c2 {
  top: 10%;
  left: -20%;
  height: 3%;
  animation-duration: 47s;
  animation-delay: .3s;
}

.clouds.c3 {
  top: 10%;
  left: 5%;
  height: 2%;
  animation-duration: 45s;
}

.clouds.c4 {
  top: 9%;
  left: -20%;
  height: 2%;
  animation-duration: 46s;
  animation-delay: .3s;
}

#building {
  position: absolute;
  width: 100%;
  height: 60%;
  text-align: center;
}

#earth {
  position: absolute;
  width: 100%;
  height: 35%;
  bottom: 0px;
  text-align: center;
}

#equip-l1 {
  position: absolute;
  width: auto;
  height: auto;
  right: 10%;
  bottom: 35%;
  height: 35%;
  width: 35%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/eq2.png');
}

#equip-l2 {
  position: absolute;
  width: auto;
  height: auto;
  right: 36%;
  bottom: 12%;
  height: 25%;
  width: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/eq1.png');
}

#welcome-block {
  position: absolute;
  width: 100%;
  top: 30%;
  border-radius: 40px;
  border: 4px solid rgba(128, 148, 78, .87);
  padding: 10px 0;
  background-color: rgba(10, 60, 77, .87);
  color: white;
  text-align: center;
}

#welcome-block>.title {
  padding-bottom: 30px;
  font-size: 3.2em;
  font-weight: bolder;
}

#welcome-block>p {
  font-size: 1.2em;
}

.transition-header {
  position: relative;
  background-color: rgba(10, 60, 77, 1);
  height: 60px;
  font-size: 3.2em;
  font-weight: bolder;
  color: white;
  z-index: 10;
}

.transition-header::before, .transition-header::after {
  content: '';
  border-radius: 100px;
  height: 60px;
  position: absolute;
  width: 60%;
  top: -30px;
  background-color: rgba(10, 60, 77, 1);
}

.transition-header::after {
  left: -10%;
}

.transition-header::before {
  right: -10%;
}

.transition-header>.title {
  z-index: 100;
  position: relative;
  text-align: center;
  top: -5px;
  font-size: 0.6em;
}

.page {
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: url('../images/background.png');
  padding-bottom: 60px;
}

.swithcer {
  position: relative;
  z-index: 101;
}

.build-out {
  position: relative;
  height: 40%;
  width: 100%;
  top: 10%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.inner-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .3s ease-in;
  transition-delay: 0.1s;
}

.inner-image.scale {
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
}

.inner-image.scaleDoor {
  width: 130%;
  height: 130%;
  top: -15%;
  left: -5%;
}
.inner-image.scaleBottom{
  width: 150%;
  height: 150%;
  top: -45%;
  left: -25%;
}

#view1>.build-out>.init-image, #view>.build-out>.init-image {
  width: 100%;
  height: 100%;
  background-image: url('../images/itogoviy.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .7s;
}

#view2>.build-out>.init-image {
  width: 100%;
  height: 100%;
  background-image: url('../images/vrazreze.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .7s;
}

.circle {
  position: absolute;
  border-radius: 100px;
  width: 16px;
  height: 16px;
  border: 2px solid #e74c3c;
  background-color: rgb(204, 145, 114);
  box-sizing: border-box;
  cursor: pointer;
  transition: all .7s;
  top: 50%;
  left: 50%;
}

.circle > .inner-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  border-radius: 2px;
  background: red;
  margin-top: -1px;
  margin-left: -1px;
}

@keyframes pulse {
  0% {
    opacity: 0;
    width: 12px;
    height: 12px;
    top: 0px;
    left: 0px;
  }
  50% {
    opacity: 1;
    width: 24px;
    height: 24px;
    top: -6px;
    left: -6px;
  }
  100% {
    opacity: 0;
    width: 44px;
    height: 44px;
    top: -16px;
    left: -16px;
  }
}

.circle::before, .circle::after {
  position: absolute;
  content: '';
  top: -6px;
  left: -6px;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 100px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #e74c3c;
  animation-delay: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1.4s;
}

.circle::after {
  width: 32px;
  height: 32px;
  top: -10px;
  left: -10px;
}

.circle::before {
  animation-delay: .5s;
}

.info-side {
  position: relative;
  max-width: 400px;
  top: 50%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(204, 145, 114);
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info-side-mod{
  display: none;
  position: absolute;
  max-width: 220px;
  width: 220px;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(204, 145, 114);
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all .7s ease-in-out;
}

.info-side-mod.shadow{
  box-shadow: 0px 0px 20px #c0392b;
  border: 1px solid #c0392b;
}

#window-out-4Mod,
#window-in-1Mod{
  top: 15%;
  left: 50%;
  margin-left: -500px;
}

#window-out-2Mod,
#window-in-2Mod{
  top: 15%;
  right: 50%;
  margin-right: -500px;
}

#window-out-3Mod,
#window-in-3Mod{
  bottom: 15%;
  left: 50%;
  margin-left: -500px;
}

#window-out-1Mod,
#window-in-4Mod{
  bottom: 15%;
  right: 50%;
  margin-right: -500px;
}

#window-in-5Mod{
  bottom: 10%;
  right: 50%;
  margin-right: -110px;
}

.info-title {
  text-align: center;
  font-size: 1.4em;
  padding-bottom: 30px;
}

.info-side-mod > .info-title{
  font-size: 1.2em;
  padding-bottom: 10px;
}

.item {
  position: relative;
  color: rgb(14, 46, 61);
  font-size: 1.1em;
  margin-bottom: 15px;
}

.item>.icon {
  float: left;
  margin-left: 20px;
  width: 44px;
  height: 44px;
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.info-side-mod > .item>.icon{
  margin-left: 0px;
  width: 22px;
  height: 22px;
}

.item>.text {
  margin-left: 84px;
  line-height: 44px;
}

.item>.text.double {
  line-height: 22px;
}

.info-side-mod > .item>.text {
  margin-left: 32px;
  line-height: 22px;
  font-size: 0.7em;
}

.info-side-mod > .item>.text.double {
  line-height: 11px;
}

.congrats {
  background-color: white;
  position: relative;
}

.congrats::before, .congrats::after {
  content: '';
  border-radius: 100px;
  height: 60px;
  position: absolute;
  width: 60%;
  top: 50px;
  background-color: white;
  z-index: 100;
}

.congrats::after {
  left: -10%;
}

.congrats::before {
  right: -10%;
}

a.link {
  color: rgb(204, 145, 114);
  font-size: 0.6em;
  display: block;
  text-align: center;
  position: relative;
  z-index: 100;
  top: -0px;
  cursor: pointer;
}

#logo {
  position: absolute;
  height: 64px;
  width: 64px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/logo.png');
  bottom: 5%;
  left: 50%;
  margin-left: -32px;
}

#congrats {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 40px auto 0px;
  font-size: 2em;
  font-family: GerberaLight;
  color: black;
  text-align: center;
  z-index: 100;
}

.men {
  position: absolute;
  top: 110px;
  width: 55%;
  bottom: 0px;
  background-repeat: no-repeat;
  background-size: contain;
}

#men1 {
  left: -5%;
  background-position: bottom left;
  background-image: url('../images/workerleft.png');
}

#men2 {
  right: -5%;
  background-position: bottom right;
  background-image: url('../images/workerright.png');
}

.footer {
  height: auto;
  font-size: 12px;
  color: rgb(204, 145, 114);
  font-family: GerberaLight;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 70px;
  text-align: center;
}

.left-footer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  text-align: center;
}

.right-footer {
  position: absolute;
  right: 30px;
  top: 10%;
  z-index: 100;
  text-align: right;
  line-height: 300%;
}

.footer-links {
  position: relative;
  width: 100%;
  text-align: center;
  top: 20px;
}

.footer-link {
  color: inherit;
  display: inline-block;
  padding: 0px 10px;
}

#share-buttons{
  position: relative;
  z-index: 100;
  float: none;
  top: 50px;
}

@media(min-width:400px) {
  #welcome-block {
    width: 400px;
    left: 50%;
    margin-left: -200px;
    padding: 30px;
  }

  .transition-header>.title {
    font-size: 0.7em;
  }

  .swithcer {
    text-align: center;
  }

  .info-side {
    left: 50%;
    margin-left: -200px;
  }
}

/*Сюда когда не на мобилке*/

@media(min-width:900px) {
  .page {
    padding-bottom: 0;
  }

  .full-height {
    min-height: 100%;
  }

  #welcome-block {
    width: 540px;
    left: 50%;
    margin-left: -270px;
    padding: 30px;
  }

  .transition-header>.title {
    font-size: 0.6em;
  }

  .build-out {
    position: absolute;
    height: 80%;
    width: 55%;
  }

  #view1>.build-out, #view>.build-out {
    right: 45%;
  }

  #view1>.build-out,
  #view2>.build-out{
    left: 50%;
    width: 400px;
    margin-left: -200px;
  }

  #view2>.build-out{
    height: 60%;
  }

  /* NOTE: на большом экране они не нужны */
  .info-side {
    display: none;
    position: absolute;
    min-height: 300px;
    max-width: unset;
    width: 400px;
    margin-top: -150px;
    margin-left: unset;
  }

  .info-side-mod{
    display: block;
  }

  #view1>.info-side, #view>.info-side {
    left: 55%;
  }

  #view2>.info-side {
    right: 55%;
  }

  .left-footer {
    position: absolute;
    left: 30px;
    transform: none;
    top: 25px;
    text-align: left;
  }

  .footer-links {
    position: absolute;
    top: 40px;
  }

  #share-buttons{
    float: right;
    top: 0;
  }
}

.light {
  font-family: GerberaLight;
}


/* The switch - the box around the slider */

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px !important;
  margin-left: 10px;
}

.switch:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


/* Hide default HTML checkbox */

.switch input {
  display: none;
}


/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e74c3c;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #e74c3c;
}

input:focus+.slider {
  box-shadow: 0 0 1px #e74c3c;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.blur-all {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

#share-buttons img {
  width: 32px;
  padding: 2px;
  border: 0;
  box-shadow: 0;
  display: inline;
  margin-top: -8px;
}

#share-buttons > a {
  display: inline-block;
  padding: 0 5px;
  cursor: pointer;
}
