/* Copyright (c) 2014 by Vyacheslav Kirilenko, Gayane Bagdasaryan. All rights reserved. */

@font-face {
	font-family: 'GerberaLight';
	src: url('Gerbera-Light.eot');
	src:
	     url('Gerbera-Light.eot?#iefix') format('embedded-opentype'),
	     url('Gerbera-Light.woff2') format('woff2'),		 
	     url('Gerbera-Light.woff') format('woff'),
	     url('Gerbera-Light.ttf') format('truetype'),
	     url('Gerbera-Light.svg#Gerbera-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}